@font-face {
  font-family: "HighVoltage-Rough";
  src: url("fonts/HighVoltage-Rough.woff");
}

@font-face {
  font-family: "Cardo-Regular";
  src: url("fonts/Cardo-Regular.woff");
}

@font-face {
  font-family: "Cardo-Italic";
  src: url("fonts/Cardo-Italic.woff");
}

@font-face {
  font-family: "Cardo-Bold";
  src: url("fonts/Cardo-Bold.woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0px;
  height: auto;
}

header .cont-header {
  width: 100%;
  height: auto;
}

header .cont-header img {
  width: 100%;
  height: auto;
  line-height: 0px;
}

header .texto-copy-a {
  width: 50%;
  height: auto;
  text-align: left;
  margin-left: 0px;
  margin-right: auto;
  margin-top: -20px;
  position: relative;
  display: block;
  z-index: 100;
  float: left;
}

header .texto-copy-a h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: #ffffff;
  margin: 0px 50px;
}

header .texto-copy-a br#salto {
  display: none;
}

header .texto-copy-b {
  width: 50%;
  height: auto;
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
  margin-top: -20px;
  position: relative;
  display: block;
  z-index: 100;
}

header .texto-copy-b h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: #ffffff;
  margin: 0px 50px;
}

header .texto-copy-b br#salto {
  display: none;
}

.mancha-superior {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  z-index: 100;
}

.mancha-superior img {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(0px, -150px);
          transform: translate(0px, -150px);
}

.cont-info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  text-align: center;
}

.cont-info .info-izquierda {
  width: 33.33%;
  position: relative;
}

.cont-info .info-izquierda img {
  width: 100%;
  height: auto;
  margin: -5px 0px;
}

.cont-info .info-izquierda .texto-copy-c {
  width: 90%;
  height: auto;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  position: relative;
  z-index: 100;
}

.cont-info .info-izquierda .texto-copy-c h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: #ffffff;
  margin: 0px;
}

.cont-info .info-izquierda .img-rotar-izq {
  width: 80%;
  height: auto;
  padding: 20px;
  margin-top: 600px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.cont-info .info-izquierda .img-rotar-izq .texto-img-a {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  padding: 5px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-info .info-izquierda .img-rotar-izq .texto-img-a h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: #0C1719;
  margin: 0px;
}

.cont-info .info-centro {
  width: 33.33%;
  position: relative;
  text-align: center;
}

.cont-info .info-centro img {
  width: 100%;
  height: auto;
  margin: -5px 0px;
}

.cont-info .info-centro .info-superior {
  width: 100%;
  margin-top: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cont-info .info-centro .info-superior h3 {
  font-family: "Cardo-Bold";
  font-size: 24px;
  color: #343C4A;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
}

.cont-info .info-centro .info-superior h4 {
  font-family: "Cardo-Italic";
  font-size: 24px;
  color: #343C4A;
  line-height: 26px;
  font-weight: normal;
  margin: 0px 0px;
}

.cont-info .info-centro .info-superior h1 {
  font-family: "HighVoltage-Rough";
  font-size: 76px;
  color: #343C4A;
  font-weight: normal;
  margin: 0px;
}

.cont-info .info-centro .info-superior h2 {
  font-family: "HighVoltage-Rough";
  font-size: 50px;
  color: #343C4A;
  font-weight: normal;
  margin: 0px;
}

.cont-info .info-centro .info-superior img#linea {
  width: 200px;
  height: auto;
}

.cont-info .info-centro .info-inferior {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-info .info-centro .info-inferior .datos-izq {
  width: 50%;
  border-right: dashed 1px #343C4A;
  padding: 20px;
}

.cont-info .info-centro .info-inferior .datos-der {
  width: 50%;
  padding: 20px;
}

.cont-info .info-centro .info-inferior p {
  font-family: "Cardo-Regular";
  font-size: 20px;
  color: #343C4A;
  text-align: left;
  margin: 10px 0px;
}

.cont-info .info-centro .calendario {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  -webkit-transform: translate(0px, -110px);
          transform: translate(0px, -110px);
  z-index: 100;
}

.cont-info .info-centro .calendario img {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cont-info .info-derecha {
  width: 33.33%;
  position: relative;
}

.cont-info .info-derecha img {
  width: 100%;
  height: auto;
  margin: -5px 0px;
}

.cont-info .info-derecha .img-rotar-der-a {
  width: 80%;
  height: auto;
  padding: 20px;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.cont-info .info-derecha .img-rotar-der-a .texto-img-a {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  padding: 5px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-info .info-derecha .img-rotar-der-a .texto-img-a h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: #0C1719;
  margin: 0px;
}

.cont-info .info-derecha .img-rotar-der-b {
  width: 80%;
  height: auto;
  padding: 20px;
  margin-top: 900px;
  margin-left: 5%;
  margin-right: 15%;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.cont-info .info-derecha .img-rotar-der-b .texto-img-b {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  padding: 5px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-info .info-derecha .img-rotar-der-b .texto-img-b h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: #0C1719;
  margin: 0px;
}

footer .cont-footer {
  width: 100%;
  height: auto;
  padding: 30px 0px 200px 0px;
  margin-bottom: 100px;
  line-height: 0px;
  background-color: #343C4A;
  position: relative;
}

footer .cont-footer .todo {
  width: 700px;
  height: 208px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(0px, -150px);
          transform: translate(0px, -150px);
}

footer .cont-footer .info-footer {
  text-align: center;
}

footer .cont-footer .info-footer h1 {
  font-family: "HighVoltage-Rough";
  font-size: 100px;
  color: #ABA797;
  padding: 20px 0px;
  font-weight: normal;
  margin: 0px;
}

footer .cont-footer .info-footer p {
  font-family: "Cardo-Bold";
  font-size: 28px;
  color: #ffffff;
  padding: 20px 0px;
  font-weight: normal;
}

footer .cont-footer .cont-img-footer {
  width: 70%;
  height: 400px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(img/brujula.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 300px;
}

footer .cont-footer .cont-img-footer h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #0C1719;
  margin: 15px 0px 0px 0px;
}

footer .cont-footer .cont-img-footer .img-footer-izq {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #ffffff;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

footer .cont-footer .cont-img-footer .img-footer-izq img {
  width: 100%;
}

footer .cont-footer .cont-img-footer .img-footer-cent {
  width: 100%;
  height: auto;
  padding: 15px;
  margin-top: 300px;
  background-color: #ffffff;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

footer .cont-footer .cont-img-footer .img-footer-cent img {
  width: 100%;
}

footer .cont-footer .cont-img-footer .img-footer-der {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #ffffff;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

footer .cont-footer .cont-img-footer .img-footer-der img {
  width: 100%;
}

footer .cont-footer .texto-ruta {
  text-align: center;
}

footer .cont-footer .texto-ruta p {
  font-family: "Cardo-Regular";
  font-size: 24px;
  color: #ABA797;
  padding: 20px 0px;
  font-weight: normal;
  line-height: 30px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

footer .cont-footer .titulo-ruta {
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}

footer .cont-footer .titulo-ruta img {
  width: 700px;
  height: auto;
}

footer .cont-footer .pais-unico {
  width: 100%;
  height: 150px;
  text-align: center;
  background: url(img/mancha.svg);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 10px 0px;
}

footer .cont-footer .pais-unico p {
  font-family: "Cardo-Bold";
  font-size: 24px;
  color: #ffffff;
  padding: 5px 0px;
  font-weight: normal;
  line-height: 30px;
  margin-top: 0px;
}

footer .cont-footer .pais-unico h1 {
  font-family: "HighVoltage-Rough";
  font-size: 54px;
  color: #ffffff;
  padding: 0px;
  font-weight: normal;
}

.boton-info {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(0px, -230px);
          transform: translate(0px, -230px);
  position: relative;
  -webkit-transition: linear .2s;
  transition: linear .2s;
}

.boton-info:hover {
  width: 320px;
  height: auto;
  cursor: pointer;
  -webkit-transition: linear .2s;
  transition: linear .2s;
}

/*MEDIA 1600*/
@media (max-width: 1600px) {
  .mancha-superior img {
    width: 400px;
    -webkit-transform: translate(0px, -100px);
            transform: translate(0px, -100px);
  }
  .cont-info .info-izquierda .img-rotar-izq {
    margin-top: 300px;
    padding: 15px;
  }
  .cont-info .info-izquierda .img-rotar-izq .texto-img-a h5 {
    font-size: 6px;
  }
  .cont-info .info-centro .info-superior {
    margin-top: 50px;
  }
  .cont-info .info-centro .info-superior h3 {
    font-size: 20px;
  }
  .cont-info .info-centro .info-superior h4 {
    font-size: 18px;
  }
  .cont-info .info-centro .info-superior h1 {
    font-size: 40px;
  }
  .cont-info .info-centro .info-superior h2 {
    font-size: 40px;
  }
  .cont-info .info-centro .info-inferior {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont-info .info-centro .info-inferior .datos-izq {
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-right: 0px;
    border-bottom: dashed 1px #343C4A;
  }
  .cont-info .info-centro .info-inferior .datos-izq p {
    font-size: 16px;
    line-height: 17px;
    padding: 0px;
  }
  .cont-info .info-centro .info-inferior .datos-der {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .cont-info .info-centro .info-inferior .datos-der p {
    font-size: 16px;
    line-height: 17px;
    padding: 0px;
  }
  .cont-info .info-centro .calendario {
    -webkit-transform: translate(0px, -70px);
            transform: translate(0px, -70px);
  }
  .cont-info .info-centro .calendario img {
    width: 400px;
  }
  .cont-info .info-derecha .img-rotar-der-a {
    margin-top: 100px;
    padding: 15px;
  }
  .cont-info .info-derecha .img-rotar-der-a .texto-img-a h5 {
    font-size: 6px;
  }
  .cont-info .info-derecha .img-rotar-der-b {
    margin-top: 400px;
    padding: 15px;
  }
  .cont-info .info-derecha .img-rotar-der-b .texto-img-b h5 {
    font-size: 6px;
  }
}

/*FIN  1600*/
/* MEDIA 1260*/
@media (max-width: 1260px) {
  header .texto-copy-a {
    width: 100%;
    margin-top: -150px;
    position: relative;
    display: block;
    float: right;
  }
  header .texto-copy-a h5 {
    font-size: 6px;
    margin: 0px 15px;
  }
  header .texto-copy-a br#salto {
    display: block;
  }
  header .texto-copy-b {
    width: 100%;
    margin-top: -80px;
  }
  header .texto-copy-b h5 {
    font-size: 6px;
    margin: 0px 15px;
  }
  header .texto-copy-b br#salto {
    display: block;
  }
  .mancha-superior img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-transform: translate(0px, 220px);
            transform: translate(0px, 220px);
  }
  .cont-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont-info .info-izquierda {
    width: 100%;
    height: auto;
  }
  .cont-info .info-izquierda .img-rotar-izq {
    display: none;
  }
  .cont-info .info-izquierda .texto-copy-c {
    width: 100%;
    margin-top: -70px;
    position: absolute;
  }
  .cont-info .info-izquierda .texto-copy-c h5 {
    font-size: 6px;
    margin: 0px 15px;
  }
  .cont-info .info-izquierda .texto-copy-c br#salto {
    display: block;
  }
  .cont-info .info-centro {
    width: 100%;
  }
  .cont-info .info-centro img {
    height: 800px;
  }
  .cont-info .info-centro .calendario {
    -webkit-transform: translate(0px, 230px);
            transform: translate(0px, 230px);
  }
  .cont-info .info-centro .calendario img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
  }
  .cont-info .info-centro .info-superior {
    padding: 20px 20px 0px 20px;
  }
  .cont-info .info-centro .info-superior br#salto {
    display: none;
  }
  .cont-info .info-centro .info-superior .info-inferior {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .cont-info .info-derecha {
    width: 100%;
  }
  .cont-info .info-derecha .img-rotar-der-a {
    display: none;
  }
  .cont-info .info-derecha .img-rotar-der-b {
    display: none;
  }
  footer .cont-footer {
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  footer .cont-footer .todo {
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate(0px, -90px);
            transform: translate(0px, -90px);
  }
  footer .cont-footer .info-footer h1 {
    font-size: 60px;
    line-height: 74px;
    padding: 20px 0px;
  }
  footer .cont-footer .info-footer p {
    font-size: 16px;
    line-height: 18px;
    padding: 20px;
  }
  footer .cont-footer .cont-img-footer {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(img/brujula.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
  }
  footer .cont-footer .cont-img-footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    line-height: 12px;
    color: #0C1719;
    margin: 15px 0px 0px 0px;
  }
  footer .cont-footer .cont-img-footer .img-footer-izq {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #ffffff;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  }
  footer .cont-footer .cont-img-footer .img-footer-izq img {
    width: 100%;
  }
  footer .cont-footer .cont-img-footer .img-footer-cent {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #ffffff;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    margin-top: 0px;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  }
  footer .cont-footer .cont-img-footer .img-footer-cent img {
    width: 100%;
  }
  footer .cont-footer .cont-img-footer .img-footer-der {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #ffffff;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  }
  footer .cont-footer .cont-img-footer .img-footer-der img {
    width: 100%;
  }
  footer .cont-footer .texto-ruta {
    text-align: center;
  }
  footer .cont-footer .texto-ruta p {
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
    text-align: justify;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .cont-footer .texto-ruta br#salto {
    display: none;
  }
  footer .cont-footer .titulo-ruta {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
  }
  footer .cont-footer .titulo-ruta img {
    width: 310px;
    height: auto;
  }
  footer .cont-footer .pais-unico {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px;
    margin-top: 30px;
  }
  footer .cont-footer .pais-unico p {
    font-size: 20px;
    padding: 0px;
    line-height: 18px;
  }
  footer .cont-footer .pais-unico h1 {
    font-size: 40px;
    line-height: 42px;
    padding: 0px;
    margin: 0px;
  }
  .boton-info {
    width: 150px;
    -webkit-transform: translate(0px, -70px);
            transform: translate(0px, -70px);
  }
  .boton-info:hover {
    width: 160px;
  }
}

/* FIN MEDIA 1260*/
@media (max-width: 1350px) {
  .cont-info .info-centro .info-superior h2 {
    font-size: 35px;
  }
  .cont-info .info-centro .info-superior .info-inferior {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */